

<div class="home">
  <div class="menu">
    <div class="text">
    <p>Company</p>
    <p>News</p>
    <p>Service</p>
    <p>Works</p>
    <p>Contact</p>
    <p>Recruit</p>
    <p><img src="assets/icon.png"></p>
  </div>
  </div>
  <div class="content">
<div class="left">
    <div class="heading">
        monomode
    </div>
       <div class="back">
         <div class="animated_area">
           <ul class="box_area">
             <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
           </ul>
         </div>
       </div>
          <div class="subhead">
            <div class="textarea">
      <span>T</span>
      <span>h</span>
      <span>r</span>
      <span>o</span>
      <span>u</span>
      <span>g</span>
      <span>h</span>
      <span>t</span>
      <span>&nbsp;</span>
      <span>D</span>
      <span>i</span>
      <span>g</span>
      <span>i</span>
      <span>t</span>
      <span>a</span>
      <span>l</span>
      <span>.</span>
      </div>
      <div class="smallhead">
        Digital Service Company.
      </div>
      <div class="line"></div>

      <p class="subpara">Lorem ipsum, or lipsum as it is sometimes</p>
        <p class="subpara1">dummy text used in laying out print graphic or web designs. The
      passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts.</p>
      </div>
    
      <div class="bg">
      </div>
    
    
</div>

<div class="center">
  <div class="image">
<img src="assets/video1.png" alt="">
</div>
</div>

</div>
<div class="rightbar">
  <div class="para1">
    <p>Contact
  </div>
  <div class="para2">
    <p>Service</p>
  </div>
  <div class="para3">
    <p>Scroll&nbsp;Down</p>
  </div>
  <div class="para4">
    <div class="line1 line2"></div>
  </div>
</div>

</div>
